@font-face {
    font-family: 'Argent Pixel';
    src: url('~assets/fonts/ArgentPixelCF-Regular.woff2') format('woff2'),
      url('~assets/fonts/ArgentPixelCF-Regular.woff') format('woff');
  }
  
@font-face {
    font-family: 'Argent Pixel';
    font-style:italic;
    src: url('~assets/fonts/ArgentPixelCF-Italic.woff2') format('woff2'),
      url('~assets/fonts/ArgentPixelCF-Italic.woff2') format('woff');
}
  