:root {
    --accent-color-one:#de3e3e;
    --accent-color-two:#ffeeeb;
    --accent-color-three:#ACE0F9;
    --accent-color-four:#DC762C;

    --body-font: "Mulish", sans-serif;
    --heading-font:"Argent Pixel", serif;

    --body-text:"#444444";
    --heading-text:"#111111";
}