.footer {
    padding: 4rem 2rem 0rem 2rem;
  
    @media (max-width: 60rem) {
      padding: 1.2rem 2rem 0rem 2rem;
  
      font-size: 14px;
    }
  
    &__mobile {
      padding-bottom: 1.75rem;
  
      @media (min-width: 60rem) {
        display: none;
      }
  
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          font-size: 1.65em;
          font-family: 'Argent Pixel', serif;
          text-align: center;
  
          a {
            text-decoration: none;
            color:#111;
          }
        }
      }
    }

  
    &__marquee {
      @media (max-width: 60rem) {
        display: none;
      }
    }

    &__inner {
      position: relative;
      width: 100vw;
      
      margin-left: 50%;
      transform: translateX(-50%);

      @media (max-width: 60rem) {
        display: none;
      }

      & > * {
        white-space: nowrap;
      }

      ul {
        display: flex;
        align-items: center;
        list-style: none;
      }

      li {
        font-size: 3.75em;
        font-family: var(--heading-font);

        margin-right: 7.5rem;
        transition: 0.5s;
        -webkit-transition: 0.5s;

        a {
          display: inline-flex;
          align-items: center;
          position: relative;
          text-decoration: none;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          color:#111;

          &:before {
            content: '';
            position: absolute;
            width: 0%;
            height: 4px;
            background-color: #111;
            left: 0;
            bottom: 0px;
            transition: 0.5s;
            -webkit-transition: 0.5s;
          }

          &:hover:before {
            width: calc(100% - 80px);
          }

          &::after {
            content:'';
            display: block;
            width:70px;
            height: 70px;
            margin-left: 1rem;
            
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 11L4 13L16 13L16 15L18 15L18 13L20 13L20 11L18 11L18 9L16 9L16 11L4 11ZM14 7L16 7L16 9L14 9L14 7ZM14 7L12 7L12 5L14 5L14 7ZM14 17L16 17L16 15L14 15L14 17ZM14 17L12 17L12 19L14 19L14 17Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 100%;

            transform: rotate(-45deg);
          }
        }
      }
    }
  
    &__email {
      font-size: 1.5em;
  
      text-align: center;
      margin: 10rem auto 1rem auto;
  
      @media (max-width: 60rem) {
        margin: 3rem auto;
      }
  
      p {
        font-weight: bold;
      }
  
      a {
        display: inline-flex;
        align-items: center;
        font-size: 1.65em;
        font-family: var(--heading-font);
        font-weight: 400;
        color: #111;

        @media (max-width:60rem) {
          font-size: 1.25rem;
        }

        svg {
          margin-right:1rem;
          width:32px;
          height:32px;
        }
      }
    }

    &__bg {
      display: flex;
      align-items: center;
      justify-content: center;

      background-image: url('~/assets/img/pattern-dot.png');
      background-repeat: repeat;
      background-size: contain;

      margin:8.5rem -2rem 0 -2rem;
      padding:3.5rem 0rem;

      &--credit {
        span {
          background-color:var(--accent-color-one);
          box-decoration-break: clone;
          color:rgba(#fff, 0.95);

          padding:0.65rem 1rem;
          border-radius: 30px;

          @media (max-width: 60rem) {
            font-size: 0.75rem;
          }
        }
      }

      @media (max-width: 60rem) {
        margin-top: 4.5rem;
      }
    }
  }

  body.about {
    .footer {
      * {
        color:whitesmoke;
      }

      &__inner {
        ul li {
          a {
            &::before {
              background-color: whitesmoke;
            }

            &::after {
              filter: invert(1);
            }
          }
        }
      }
      &__bg {
        filter: invert(1);

        &--credit {
          span {
            background-color: whitesmoke;
            color:var(--link-color);

            strong {
              color:var(--link-color);
            }
          }
        }
      }
    }
  }