.projects {
    position: relative;
    padding: 3rem 1rem 8rem 1rem;
  
    &::after {
      content:'';
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
  
      background: linear-gradient(90deg, var(--accent-color-two) 0%, var(--accent-color-three) 100%);
      filter: blur(200px);
      z-index: -4;
    }
  
    @media (max-width: 60rem) {
      min-height: auto;
      padding: 3rem 2rem;
    }
  
    &__list {
      padding: 1rem 0;
      transition:0.4s;
  
      &--links {
        position: relative;
        h2 {
          font-weight:400;
          font-family: var(--heading-font);
        }
      }

      @media (min-width:60rem) {
        &:hover {
          > * {
            opacity:0.25;
          }
        }
      }
  
      &--item {
        display: flex;
        flex-direction: column;
        transition:0.4s;

        &:hover {
          opacity:1;
        }
  
        & + * {
          margin-top:2rem;
          padding-top:1.75rem;
          border-top:3px solid #111;
        }
  
        @media (max-width: 60rem) {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 1.5rem;
        }
  
        a {
          display: grid;
          grid-template-columns: 3.5rem auto;
          gap:1.5rem;
  
          @media (max-width:60rem) {
            grid-template-columns: 1fr;
          }
          
          color: inherit;
          text-decoration: none;
  
          svg {
            margin-right: 1.5rem;
          }
        }
      }
    }
  
    &__inner {
      position: relative;
      margin: 0rem auto;
      max-width: 60vw;
      margin-top: -12.5rem;
      background-color: #fff;
      border: 3px solid #333;
      padding: 4.5rem 5rem 5rem 5rem;

      @media (max-width:60rem) {
        max-width: 60rem;
      }

      &:before {
        content: '';
        position: absolute;
        right: -20px;
        top: 20px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 3px solid #333;
        z-index: -2;
  
        @media (max-width: 60rem) {
          right: -9px;
          top: 9px;
        }
      }
  
      &:after {
        content: '';
        position: absolute;
        right: -36px;
        top: 36px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 3px solid #333;
        z-index: -3;
  
        @media (max-width: 60rem) {
          display: none;
        }
      }
  
      @media (max-width: 60rem) {
        margin-top: -8.5rem;
        margin-left: -0.25rem;
        margin-right: 0.25rem;
        padding: 2.5rem 2rem;
        box-shadow: none;
      }
  
      h1 {
        margin-bottom: 2.5rem;
        font-weight:400;
        font-size:1.85rem;
        font-family: var(--heading-font);
      }
    }
  }
