.container {
    &--about {
        padding-bottom: 0;
    }

    &__about {
        position: relative;

        &::after {
            content:'';
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height:45%;
        
            background: linear-gradient(90deg, rgba(162, 200, 105, 0.3) 0%, rgba(245, 129, 44, 0.3) 100%);
            filter: blur(300px);
            z-index: -4;
        }
       
        &--title {
            margin-bottom: 1rem;
        }

        &--image {
            margin-top:3.5rem;
        }

        &--svg {
            grid-column: 3/4;
            grid-row: 3/4;
            transform: translate(0px, 125px);

            @media (max-width:60rem) {
                display: none;
            }
        }


        h2 {
            margin-bottom: 2rem;
            color:var(--accent-color-four);
        }

        h3 {
            margin-top: 3rem;
        }

        p + p {
            margin-top:1rem;
        }

        a[href] {
            color:currentColor;
            font-weight: bold;
        }
       
        ul, ol {
            margin:0;
            padding:0;
            list-style: none;
        }

        img {
            border-radius:8px;
            overflow: hidden;
        }
    }
}