::-webkit-scrollbar {
  width:6px;
}

::-webkit-scrollbar-thumb{
  background-color:#555;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px
}

::-moz-selection { /* Code for Firefox */
  color: #111;
  background: aliceblue;
}

::selection {
  color: #111;
  background: aliceblue;
}

a, button {
  &:focus {
      outline: transparent;
      box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  }
}


.container {
    position: relative;
    overflow-x: hidden;
    padding: 0 2rem 8.5rem 2rem;
  
    @media (max-width: 60rem) {
      padding-bottom: 6rem;
    }
  
    &__inner {
      margin: 5.5rem auto;
      max-width:60rem;
  
      @media (max-width: 40rem) {
        margin: 3.5rem auto;
      }
    }
  }
  
  .header {
    font-size: 1.75rem;
    font-family: var(--heading-font);
  
    color: rgb(32, 45, 66);
    line-height: 1.75;

    @media (max-width:60rem) {
      font-size: 1.25rem;
    }
  
    &__circle {
      width:1.25rem;
      height:1.25rem;
  
      margin-right: 1rem;
      border-radius: 50%;
  
      border:3px solid rgba(255,255,255,1);
      -webkit-animation: live 1.4s infinite ease-in-out;
      animation: live 1.4s infinite ease-in-out;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;

      &.not {
        background-color:var(--accent-color-one);
      }

      &.yes {}
    }
  
    &__available {
      width:100%;
      display: inline-flex;
      align-items: center;
  
      margin-top:2.75rem;
  
      font-family: var(--body-font);
      font-weight: 600;
  
      font-size:1rem;

      svg {
        margin-left:0.5rem;
      }
    }
  
    span {
      font-family: var(--body-font);
      font-weight: 600;
    }
  
    em {
      font-family: var(--body-font);
      font-style: italic;
      font-weight: 600;
      color:var(--accent-color-one);
    }
  
    strong {
      color:var(--accent-color-one);
    }
  }

  body.about {
    background-color: #090909;
  }