.container {
    &--detail {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;

        > div > div {
            @media (max-width:60rem) {
                padding:0 2rem;
            }
        }

        &__footer {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-top:3.5rem;

            background-image: url('~/assets/img/pattern-dot.png');
            background-repeat: repeat;
            background-size: contain;

            padding:3.5rem 2rem;
        }
    }

    &__detail {
        @media (max-width:60rem) {
            padding:0 2rem;
        }

        &--title {
            display:flex;
            align-items: center;
            width:100%;

            border-bottom:3px solid #111;
            padding-bottom:1.45rem;
        }

        &--live {
            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                width:50px;
                height:50px;
                color:#111;

                border-radius: 50%;
                transform: rotate(-45deg);
            }
        }

        &--heading {
            flex:1;
            padding:0 1.5rem;

            h1 {
                font-family: var(--heading-font);
                font-weight: 500;
            }
        }

        &--type {
            display: grid;
            grid-template-columns:1fr 1fr auto;
            gap:2rem;

            @media (max-width:60rem) {
                grid-template-columns: 1fr;
                gap:0rem;
            }

            margin-bottom:3.5rem;

            > div {
                padding:0rem 1.35rem;
                margin-top:1.5rem;

                &:first-child {
                    padding-left: 0rem;
                }

                @media (max-width:60rem) {
                    padding:1rem 0;
                    margin-top:0.5rem;
                }

                + div {
                    border-left:3px solid #111;

                    @media (max-width:60rem) {
                        border-top:3px solid #111;
                        border-left: 0;
                    }
                }
                

                h2 {
                    font-size: 1.25rem;
                    font-weight: 500;
                    font-family: var(--heading-font);
                }
            }
        }

        &--overview {
            position: relative;
            border:3px solid #111;
            padding:2.5rem;
            background-color:white;
            
            box-shadow:15px 15px 0 -1px white,15px 15px 0 1px #111;

            margin-bottom: 7.5rem;

            @media (max-width:60rem) {
                box-shadow:4px 4px 0 -1px white,4px 4px 0 1px #111;
            }
            
            h2 {
                font-size:1.75rem;
                font-family: var(--heading-font);
                font-weight: 400;

                padding-bottom: 1rem;
                margin-bottom: 1.5rem;
                border-bottom: 3px solid #111;
            }

            p + p {
                margin-top: 1rem;
            }
        }
    }

    &__details {
      margin: 5.5rem auto;
      max-width:65vw;
  
      @media (max-width: 40rem) {
        margin: 3.5rem auto;
        max-width: 60rem;
      }

      &--sidebar {
          h2 {
              margin-bottom: 1rem;
              font-family: var(--heading-font);
              font-weight: 500;
          }

          ul {
              margin:0;
              padding:0;
              list-style: none;
              flex-direction: column;
              align-items: flex-start;

              li {
                  + li {
                      margin-left: 0;
                      margin-top:0rem;
                  }
                  a {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    color:var(--link-color);  
                    transition: 0.5s;
                    box-shadow: none;
                    text-decoration: underline;

                    &.is-active {
                        font-weight: bold;

                        &::before {
                            content:'';

                            display: block;
                            flex:none;
                            
                            width:8px;
                            height:8px;
                            margin-right: 1rem;

                            background-color:currentColor;
                            border-radius: 50px;
                        }
                    }
                  }
              }
          }
      }

      &--img {
          figure {

            + * {
                margin-top: 6.5rem;
            }

            position: relative;
            width:100%;
            
            overflow: hidden;
            border:1px solid rgba(#111, 0.15);
    
            img {
                width:100%;
            }
            
            figcaption {
                background-color:#E3E3E3;
                padding:0.85rem 1rem;
                text-align: center;
    
                font-weight: 600;
            }
          }
      }

      &--top {
          h1, h2 {
            font-family: var(--heading-font);
            font-size: 1.95rem;
            font-weight: 400;

            margin-bottom:1rem;
          }
      }

      &--middle {
          display: grid;
          grid-template-columns: 15rem auto;
          gap:3.5rem;

          margin-top:4.5rem;

          @media (max-width:60rem) {
              grid-template-columns: 1fr;
              gap:2.5rem;
          }
      }
    }

    &__images {
        position: relative;
        width:100%;

        img {
            width:100%;
        }
        
        figcaption {
            background-color:#E3E3E3;
            padding:0.85rem 1rem;
            text-align: center;

            font-weight: 600;
        }
    }
}